html, body{
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
  position: relative;
  background-size: 2550px 1050px;
  background-position: no-repeat;
}

.intro {
  font-size: 24px;
  text-align: center;
  margin-top:8%;
  margin-bottom: 25%;
}

.profilepic {
  height:375px;
  width: 375px;
  margin-left:auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#roundimg {
    border-radius: 25%;
}
#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#centernav {
  margin: 0 15%;
}

#middlebutton {
  margin-bottom: 20%
}

.bodytext {
    margin: 2% 25%;
}

.centerme{
  text-align: center;
  margin: 0;
}

.bodycards {
  margin: 0 5%;
}

#centercontact{
  margin: 0 45%;
}
#scroll1 {

}
.center {
  text-align: center;
  font-weight:300;
  font-size:56px;
}
.feedtitle{
  font-weight: 300;
  margin:3% 0;
  text-align: center;
}
.feed {
  margin:2% 25%;
}

#spacer {
  margin: 5% 0;
}

#text {
  margin:4% 5%;
}

.intropage{
  margin-top: -16px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  height: 1050px;
}

.lastelement {
  margin-bottom: 5%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
