html, body{
  font-family: 'Muli', sans-serif;
}

.intro {
  font-size: 24px;
  text-align: center;
  margin-top:10%;
  margin-bottom: 15%;
}

.profilepic {
  height:375px;
  width: 375px;
  margin-left:auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#roundimg {
    border-radius: 25%;
}
#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
