html{
    background-color:#fff5ee;
    color: #404040;
}
.icon {
    text-decoration: none; 
    color: #757575;
}

.icon:hover{
    color:black;    
}
.menulink {
    color: #404040;
    font-weight: 300;
    text-decoration: none;
}
.menulink:hover{
    text-decoration: underline;
}
.menu {
    font-family: 'Courier New';
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
}
.bio {
    letter-spacing: -0.5px;
    font-family: 'Courier New';
    font-size:14px;
}

.gallery {
    max-width: 500px;
    max-height: 500px;

}

.pdesc {
    letter-spacing: -0.5px;
    font-family: 'Courier New';
    font-size:13px;
}